# === Python ===
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
notes.txt
MANIFEST

# === Ambientes Virtuais ===
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# === Banco de Dados Local (Preserva sua memória store original)
*.db
*.sqlite3

# === Logs e Relatórios ===
logs/
*.log
.pytest_cache/
.coverage
htmlcov/
flake8/

# === Configurações de IDEs e editores ===
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# === Sistema Operacional (Ubuntu/Linux) ===
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db